<ul class="nav">
  <li class="nav-item">
    <a class="nav-link" href="home">{{"Pasajeros" | translate}}</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="vuelos">{{"Vuelos" | translate}}</a>
  </li>
</ul>





<table class="table">
  <thead>
    <tr>
      <th>ID</th>
      <th>{{"Tipo de Avion" | translate}} </th>
      <th>{{"Capacidad" | translate}}</th>
      <th>{{"Matricula" | translate}}</th>
      <th>{{"Empresa" | translate}}</th>

    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of vuelo">
      <td>{{item.idAvion}}</td>
      <td>{{item.topoAvion}}</td>
      <td>{{item.capacidad}}</td>
      <td>{{item.matricula}}</td>
      <td>{{item.empresa}}</td>

      <td>
        <button type="button" class="btn btn-success" data-bs-toggle="modal"
          data-bs-target="#exampleModal">{{"Pasajeros" | translate}}</button>

      </td>
    </tr>

  </tbody>

</table>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>